@using Microsoft.AspNetCore.Html

@{
	Layout = null;
	ViewData["Title"] = "Home Page";

}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>
	<div class="container mt-3">
		<main role="main" class="pb-3">
			<div class="text-center">
				<h1 class="display-2">La Vesuviana</h1>
				<h2 class="my-4">
					<a href="@Url.Action("Index", "Pizza")">Esplora le nostre creazioni</a>
				</h2>
				
			</div>
		</main>
	</div>



	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

