@model Pizza

<div class="container">
	<form method="post" action="@Url.Action("EditPizza", "Pizza", @Model)">
		@Html.AntiForgeryToken()
		<div class="mb-3" hidden>
			<strong>Id:</strong>
			<input asp-for="Id">
		</div>
		<div class="mb-3">
			<strong>Nome:</strong>
			<input asp-for="Name" >
		</div>
		<div class="mb-3">
			<strong >Descrizione:</strong>
			<input asp-for="Description">
		</div>
		<div class="mb-3">
			<strong >Prezzo:</strong>
			<input asp-for="Price">
		</div>
		<div class="mb-3">
			<strong>Foto:</strong>
			<input asp-for="Photo">
		</div>
		<button class="btn-primary btn" type="submit">Conferma</button>
	</form>
</div>